html, body{margin:0; padding:0;}
p{
    margin: 0;
}
#header {
    width: 100%;
    height: 100px;
    background-color: #9BD8D4;
    display:flex;
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

#logotipo {
    grid-column: 1;

}

.links {
    display: grid;
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}

ul {
    display: flex;
    gap: 50px;
    color: black;
}

li {
    display:inline-block;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.usuario {
    display: flex;
    grid-column: 3;
    justify-content: end;
    text-emphasis-color: black;
}

#section {
    height: 750px;
    width: 100%;
    background-color: #FFF8CF;
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    grid-template-rows: 16% 16% 16% 16% 16% 16%;
}

#colunas {
    grid-column: 1;
    grid-row: 1/7;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 15px;
}

#alexandria {
    display: grid;
    grid-row: 1;
    grid-column: 1/7;
    margin-left: 30px;
    display:flex;
    justify-content: center;
    
}

#titulo {
    display:grid;
    grid-column: 2/6;
    grid-row: 1/2;
    font-size: 60px;
    font-family: 'Zen Old Mincho', serif;
    display: flex;
    justify-content: center;
    margin-left: 70px;
    margin-top: 90px;
}

#linha {
    display: grid;
    background-color: #9BD8D4;
    grid-row: 2/4;
    grid-column: 1/8;
    margin: 30px;
    margin-top: 90px;
    margin-bottom: 120px;
    margin-left: 135px;
    display: flex;
}

#Comentarios_Linha_1 {
    display: grid;
    grid-row: 3/5;
    grid-column: 2/7;
    display: flex;
    flex-direction: row;
    margin: 40px;
    align-content: space-around;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#Comentarios_Linha_2 {
    display: grid;
    grid-row: 5/7;
    grid-column: 2/7;
    display: flex;
    flex-direction: row;
    margin: 40px;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}